= render layout: 'emails/p' do
  = "Hello #{@user.name},"
= render layout: 'emails/p' do
  You have requested to reset your IDrive Express password.
= render layout: 'emails/p' do
  = render layout: 'emails/a', locals: {href: edit_password_url(@user.reset_password_token)} do
    Reset your password »
